## 1. 특정 열을 행 인덱스로 설정
- set_index() : 데이터프레임을 먼저 불러온 후, 특정 열을 인덱스로 설정할 때 사용

In [2]:
import pandas as pd

exam_data = {'이름' : ['서준','우현','인아'],
            '수학' : [90,80,70],
            '영어' : [98,89,95],
            '음악' : [85,95,100],
            '체육' : [100,90,90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

ndf1 = df.set_index('이름')  # '이름'열을 인덱스로 사용
print(ndf1)
print('\n')

ndf2 = ndf1.set_index(['음악']) # '음악'열을 인덱스로 사용
print(ndf2)
print('\n')

ndf3 = ndf1.set_index(['수학','음악']) # '수학','음악'열을 인덱스로 사용
print(ndf3)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


     수학  영어   체육
음악
85   90  98  100
95   80  89   90
100  70  95   90


        영어   체육
수학 음악
90 85   98  100
80 95   89   90
70 100  95   90

- '이름'열을 먼저 인덱스로 설정하고 다시 '음악'열을 인덱스로 부여해줄 때, <br> 
기존의 인덱스 열인 '이름'은 사라짐
- drop=True 옵션 지정 시 인덱스로 지정하되, 기존열은 남김

In [3]:
print(ndf1.set_index('음악',drop=False))

     수학  영어   음악   체육
음악
85   90  98   85  100
95   80  89   95   90
100  70  95  100   90

## 2. 행 인덱스 재배열
- reindex() 함수

In [4]:
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}
df = pd.DataFrame(dict_data, index = ['r0','r1','r2'])
print(df)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

- reindex()는 기존 데이터프레임의 행 인덱스를 기반으로 하고 인덱스 자체를 바꿔주지는 않음
- 기존의 값이 없으면 NaN으로 채워줌

In [5]:
new_index = ['r0','r1','r2','r3','r4']
ndf = df.reindex(new_index)
print(ndf)

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [6]:
ndf = df.reindex(new_index,fill_value=0)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

In [7]:
t = df.reindex(['s1','s2','s3'])
print(t)

    c0  c1  c2  c3  c4
s1 NaN NaN NaN NaN NaN
s2 NaN NaN NaN NaN NaN
s3 NaN NaN NaN NaN NaN

## 3. 행 인덱스 초기화
- reset_index() : 인덱스 재배열

In [8]:
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}
df = pd.DataFrame(dict_data, index = ['r0','r1','r2'])
print(df)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [9]:
ndf = df.reset_index()
print(ndf)

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

- drop=True 옵션을 주면 기존 인덱스를 버리고 재배열

In [10]:
df.reset_index(drop=True, inplace=True)
print(df)

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

## 4. 행 인덱스 기준으로 정렬
- sort_index() : 인덱스를 기준으로 데이터프레임을 정렬하는 함수

In [11]:
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}
df = pd.DataFrame(dict_data, index = ['r0','r1','r2'])

- 디폴트는 오름차순

In [12]:
ndf = df.sort_index(ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

## 5. 특정 열의 데이터 값을 기준으로 정렬
- sort_values() : 특정 열의 값을 기준으로 정렬

In [13]:
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}
df = pd.DataFrame(dict_data, index = ['r0','r1','r2'])
df

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

- c1열을 기준으로 내림차순 정렬

In [15]:
ndf = df.sort_values(by="c1",ascending=False)
ndf

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13