## 1. 리스트
- 리스트는 숫자나 문자 등의 여러 자료들을 하나의 집합으로 모아줌
- 어떤 자료형도 하나의 집합으로 가질 수 있음

In [1]:
list_dt = [1,2,3,4,5]

## 1-1. 인덱싱 & 슬라이싱
- 리스트 안에 리스트가 있으면 두 번의 인덱싱을 통해 값을 추출

In [5]:
a = []
b = [1,2,3]
c = ["JYP","widaehan",1,2,3]
d = [1,2,c]
e = [[1,2,3],"JYP"]

In [8]:
d[0]

1

In [9]:
e[0][2]

3

In [10]:
c[:1]

['JYP']

## 1-2. 리스트 연산

In [11]:
a = [1,2,3]
b = [4,5,6]

a+b

[1, 2, 3, 4, 5, 6]

- 인덱싱을 통한 개별 원소는 더이상 리스트가 아니여서 오류가 발생
- 이럴 때는 str()로 숫자형을 문자형으로 변경하면 연산가능

In [12]:
a[2] + "JYP"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
str(a[2]) + "JYP"

'3JYP'

## 1-3. 리스트 값 수정

In [15]:
# update
a = [1,2,3]
a[2] = 20
print(a)

[1, 2, 20]

In [16]:
a = [1,2,3]
a[1:2] = ["a","b","c"]
print(a)

[1, 'a', 'b', 'c', 3]

In [17]:
# delete
a = [1,2,3]
del a[1]
print(a)

[1, 3]

## 1-4. 리스트 관련 함수

- 요소 추가

In [20]:
a = [1,2,3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [21]:
a.append([5,6])
print(a)

[1, 2, 3, 4, [5, 6]]

- 정렬 & 뒤집기

In [22]:
a = [4,1,3,2]
a.sort()
print(a)

[1, 2, 3, 4]

In [26]:
a = ["c","a","b"]
a.sort()
print(a)

['a', 'b', 'c']

In [25]:
a = ["c","a","b"]
a.reverse()
print(a)

['b', 'a', 'c']

- 위치 반환

In [27]:
a = [1,3,5,7]
a.index(5)

2

- 요소 삽입
    - a[0] 위치에 4를 삽입

In [28]:
a = [1,2,3]
a.insert(0,4)
print(a)

[4, 1, 2, 3]

- 요소 제거

In [29]:
a = [1,2,3,4,5,1,3]
a.remove(3)
print(a)

[1, 2, 4, 5, 1, 3]

3이라는 요소를 제거하는데 리스트 내 3이 여러개면 첫번쨰 원소를 먼저 제거

- 요소 개수 세기

In [30]:
a = [1,2,3,1,5,6,3]
a.count(1)

2

- 확장
    - 기존 리스트에 새로운 요소 추가

In [32]:
a = [1,2,3]
a.extend([4,5])
print(a)

[1, 2, 3, 4, 5]

## 2. 튜플 자료형
- 튜플은 리스트와 비슷한 성질을 가지고 있음
- 튜플은 리스트와 연산이나 인덱싱, 슬라이싱이 모두 같은 방식
- 튜플은 값을 변경할 수 없는 특성으로 삭제나 변경이 불가능

In [33]:
t1 = ()
t2 = (2,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ("a","b",("ab","cd"))