## 1. 문자열 생성
- 큰 따옴표로 둘러쌓인 모든 문자를 문자열이라고 한다.

In [1]:
"a"
"123"
"hello world"

print("'hello world.'pp says")

'hello world.'pp says

## 2. 줄바꿈
- \n은 줄바꿈을 위한 이스케이프 코드
- '''나 """를 사용하는 방법도 있음

In [2]:
line = "we can do it\nI can do it"
print(line)

we can do it
I can do it

In [3]:
line = """
    we can do it
    I can do it
"""
print(line)

    we can do it
    I can do it

## 3. 문자열 연산

In [4]:
a = "hello"
print(a*2)
print("=="*25)

hellohello
==================================================

In [5]:
a = "hello"
b = "world"
c = "python"
print(a+b+c)

helloworldpython

## 4. 문자열 인덱싱(indexing), 슬라이싱(Slicing)
- 인덱싱 : 어떤 것을 가리킴
    - 해당하는 부분을 정확히 가리킴
- 슬라이싱 : 어떤 것을 잘라냄
    - 슬라이싱 뒷부분에서 -1 인덱스까지 추출해냄

In [6]:
a = "python"
a[0]

'p'

In [8]:
a = "python"
a[1:3]

'yt'

## 문자열 포맷팅
- 문자열에 어떤 것을 대입해주는 기능
    - %s : 문자열
    - %c : 문자 1개
    - %d : 정수
    - %f : 부동 소수(float)
    - %o : 8진수
    - %x : 16진수
    - %% : Literal % (문자 '%' 자체)

- 숫자 format

In [9]:
"I have %d bananas" %2

'I have 2 bananas'

- 문자 format

In [10]:
"I have %s bananas" %"six"

'I have six bananas'

- 변수 이용 format

In [11]:
number = 3
"I have %d bananas" % number

'I have 3 bananas'

- 변수 2개 이용 format

In [14]:
number = 4
people = "Five"
"%s people have %d bananas" %(people, number)

'Five people have 4 bananas'

- 마지막의 %%는 %가 코드가 아닌 문자로 쓰일 때 사용

In [15]:
"%d%% complete." %100

'100% complete.'

## 6. 문자열 관련 함수

- count()
    - 문자열에 포함된 단어의 개수 반환

In [16]:
pp = "python is famous"
pp.count("o")

2

- find() & index()
    - 해당 문자가 처음 나온 위치를, 포함된 것이 없으면 -1 반환

In [18]:
pp = "python is famous"
pp.find("o")

4

In [19]:
pp = "python is famous"
pp.find("x")

-1

In [20]:
pp = "python is famous"
pp.index("t")

2

- join()
    - 각각의 문자 사이에 ,를 삽입

In [21]:
a = ","
a.join("abcd")

'a,b,c,d'

- upper() & lower()

In [22]:
a = "hello world"
a.upper()

'HELLO WORLD'

In [23]:
a = "HELLO WORLD"
a.lower()

'hello world'

- strip() & lstrip() & rstrip()
    - 문자열에 포함된 공백을 제거 해주는 함수
    - lstrip은 왼쪽 공백, rstrip은 오른쪽 공백 제거

In [25]:
a = " hi "
a.strip()

'hi'

In [26]:
a.lstrip()

'hi '

In [27]:
a.rstrip()

' hi'

- replace()
    - 이전 문자열을 대체하는 역할
    - 중간에 위치한 공백을 지우려면 replace()

In [28]:
a = "I am so sorry"
a.replace("sorry", "happy")

'I am so happy'

In [29]:
a = "hi my name is JYP"
a.replace(" ","")

'himynameisJYP'

- split()

In [30]:
a = "I am sorry"
a.split()

['I', 'am', 'sorry']

In [32]:
a = "a/b/c/d/e"
a.split("/")

['a', 'b', 'c', 'd', 'e']